*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Lato",sans-serif;
    padding: 20px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .text {left: 0%;}
  .navigation_link{font-size: 1.5rem;}
}

@media only screen and (min-width: 768px) {
  .text {left: 15%;}
  .navigation_link{font-size: 2rem;}
}

/* Navigation Section  */


.navigation_checkbox{
  display: none;
}
.navigation_button{
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right:3rem;
  border-radius: 50%;
  z-index: 2000; 
  box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
  text-align: center;
  cursor: pointer;

}
.navigation_background{
  height: 3rem;
  width:  3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(#ff793b,#ff4500);
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86,0,0.07,1);
}

.navigation_nav{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    
    transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);

}
.navigation_list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;
}
.navigation_item{
  margin: 2em;

}
.navigation_link,
.navigation_link:visited{
    display: inline-block;
    font-weight: 200;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size:230%;
    transition: all.4s;

}
.navigation_link:hover,
.navigation_link:active{
  background-position: 100%;
  color: #ff4500;
  transform: translateX(1rem);
}

.navigation_checkbox:checked ~ .navigation_background{
  transform: scale(100);
}
.navigation_checkbox:checked ~ .navigation_nav{
  opacity: 1;
  width: 100%;
  
}

.navigation_icon{
  position: relative;
  margin-top:2rem;
}

.navigation_icon,
.navigation_icon::before,
.navigation_icon:after{

    width: 2rem;
    height: 2px;
    background-color: #141414;
    display: inline-block;

}
.navigation_icon::before,
.navigation_icon:after{

    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;

}
.navigation_icon::before{top: -0.6rem;}
.navigation_icon:after{top: 0.6rem;}

.navigation_button:hover .navigation_icon::before{
  top: -0.8rem;
}
.navigation_button:hover .navigation_icon::after{
  top: 0.8rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon{
  background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon:before{
  top: 0;  
  transform: rotate(135deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon:after{
  top: 0;  
  transform: rotate(-135deg);

}

/* Header Section */

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#00d9ffcc, #0066ffcc, #0000ffcc),url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    top: 50;
    position: relative;
    backface-visibility: hidden;
    text-align: center;
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);
    z-index: 4;
}
.text-box{
    padding: 20px;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.title{
    
    
    display: block;
    margin-bottom: 50px;
    transition: all 2s;
    padding:10px;
    color: #fff;
    text-align: center;
    
}

.header-title{
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #dfdfdf;
    
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }

.text{
    color: #d3d3d3;
    width:8em;
    position: relative;
}


.name{
    color: #ff5e00;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 8em;
    margin: 0 auto;
    border-right: 5px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

       
}

.line-2{
  position: relative;
  top: 50%;  
  width: 10em;
  margin: 0 auto;
  border-right: 5px solid rgba(255, 255, 255, 0);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  
    
}
/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(30) 1s 1 normal both,
            blinkTextCursor 500ms steps(30) infinite normal;
            
  
}
.anim-line-2{
  animation: moveInBottom 2s  1s 1 normal both;
               
  animation-delay: 3s;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 9em;}
}

@keyframes blinkTextCursor{
  0%{border-right-color: rgba(255,255,255,.75);}
  100%{border-right-color: transparent;}
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn{
  text-decoration: none;
  border-radius:100px;
  padding:20px 25px;
  font-weight: 600;
  cursor: pointer;
  
}
.btn-white{
  background-color:#fff;
  color: #5a5a5a;
}

.discover{
  position: relative;
  top: 70%;
  transition: all .2s;
  display: inline-block;
}

.discover:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0,0,0,.75);
}

.discover:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}



/* Portfolio Section */

.portfolio{
  margin-top: -11vh;
  height: 120vh;
  position: relative;
  backface-visibility: hidden;
  top: 50;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  background-color: #f0f0f0;
  clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);
  text-align: center;
  z-index: 3;
}

.portfolio-box{
  margin-top:11vh;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

}

.portfolio-title{
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  color: #0066ff;
  margin-bottom: 5vh;
 }

.cards-box{
  
  margin-top: 25vh;
  position: relative;

}

.column {
  
  float: left;
  width: 25%;
  padding: 0 10px;
}


.row {
  margin: 0 -5px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #0099ff;
  /* background-image:linear-gradient(#fff,#00d9ff); */
  height: 25rem;
  width: 250px;
  transition: all .2s;
  position: relative;
  border-radius: 10px;
  color: #2b2b2b;
}



@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
    
  }
  .card{
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    position: relative;
    
    
  }
  .card:hover{
    /* do nothing */
  }

  .portfolio{
    height: 330vh;
  }
}
@media screen and (min-width: 1100px) {
  
  .card:hover{
    transform: translateY(-15px);
  }

  
}

.card-title{
  font-weight: 200;
}
.card-btn-group{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  
}

.card-btn{
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  width: 45%;
  background-color: #ff5e00;
  color: #fff;
  border-radius: 50px;
  transition: all.3s;
  
  
}
.card-btn:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-btn:active{
  transform: translateY(-2px);
}

.github{
  float: left;
}
.demo{
  float: right;
}


.line{
  height: 0.075em;
  background-color: #ffffff;
  border: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* About Section */


.about{
 
  height: 130vh;
  position: relative;
  backface-visibility: hidden;
  top: 50;
  text-align: center;
  background-color: #0066ff;
  clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);

}

@media only screen and (max-width: 768px) {
  .about {margin-top:-40vh;}
  .about-title{margin-top: 45vh;}
}

@media only screen and (min-width: 768px) {
  .about {margin-top: -20vh;}
  .about-title{margin-top: 25vh;}
}
.about-box{
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}



.about-title{
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 5vh;
 }
/* 
 .details-box{
  position: relative;
  text-align: center;
  margin-bottom: 60vh;
  height: 100px;
  background-color: #000;
  
} */
